{%if form.errors %}
 <p>
     El usuario y/o la contraseña no coinciden. Vuelve a Intentar.
 </p>

 {% endif %}

 {% if next %}
  {% if user.is_authenticated %}
     <p>
         No tiene permisos
     </p>
   {% else %}
     <p>
         Ingrese con su cuenta para ver la pagina
     </p>
   {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
 {% csrf_token %}
   <table>
       <tr>
           <td>
               {{ form.username.label_tag }}
            </td>
           <td>
               {{ form.username}}
           </td>
       </tr>
       <tr>
           <td>
               {{ form.password.label_tag}}
           </td>
           <td>
               {{ form.password }}
           </td>
       </tr>
   </table>

   <input type="submit" value="login" />

</form>

<p>
    <a href="{% url 'password_reset' %}">
        ¿Olvido su contraseña?
    </a>
</p>